/* Estilos Gerais */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mukta", sans-serif;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  display: block;
}

h1 {
  font-family: "Cabin", sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin: 32px 0;
  padding: 0;
}

p {
  color: var(--color3);
  margin: 32px 0 0 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: block;
}

.btn {
  padding: 18px 32px;
  background-color: var(--color3);
  color: var(--color6);
  border-radius: 7px;
  margin: 24px;
  display: flex;
  align-items: center;
}

.btn i {
  margin-right: 10px;
  font-size: 24px;
}

ul {
  list-style: none;
}

.hr {
  width: 100vw;
  height: 1px;
  background-color: var(--color3);
}

:root {
  --color1: #000;
  --color2: #262626;
  --color3: #9e8272;
  --color4: #a68160;
  --color5: #d8d8d8;
  --color6: #ffff;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  background-color: var(--color6);
  padding: 16px 24px;
}

.logo {
  width: 100px;
}

.btn-menu {
  display: block;
}

header nav {
  position: absolute;
  background-color: var(--color6);
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -100vh;
  transition: all 0.5s;
}

header nav img {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  padding: 20px 36px;
  display: block;
}

header ul {
  display: flex;
  flex-direction: column;
}

header li {
  font-family: "Cabin", sans-serif;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 60px;
  text-align: center;
}

header li a {
  color: var(--color2);
}

/* Home */

#home {
  margin-top: 120px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#home .home-box-image {
  position: relative;
  width: 100vw;
  padding-bottom: 20px;
  margin-left: 0;
}

#home .image-shadow {
  width: 90%;
  height: calc(100% - 20px);
  background-color: var(--color3);
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 7px 0 0 7px;
}

#home .home-info {
  margin-left: 24px;
  margin-right: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home img {
  width: 90%;
  position: relative;
  top: 20px;
  border-radius: 0 7px 7px 0;
}

#home a {
  margin-bottom: 80px;
}

/* Sobre */

#sobre {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}

#sobre img {
  width: 100%;
  position: relative;
  top: 20px;
}

#sobre .sobre-box-image {
  position: relative;
  width: 100vw;
  padding-bottom: 20px;
  margin-left: 0;
}

#sobre .image-shadow {
  width: 70%;
  height: calc(100% - 20px);
  background-color: var(--color3);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 0px 7px 7px 0;
}

#sobre .sobre-info {
  margin-bottom: 80px;
  margin-left: 24px;
  margin-right: 24px;
}

/* Serviços */

#servicos {
  margin-left: 24px;
  margin-right: 24px;
}

#servicos h1 {
  margin-top: 80px;
}

#servicos .servicos-info p {
  color: var(--color2);
}

#servicos .cards {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  margin-bottom: 80px;
  text-align: center;
}

#servicos .card {
  box-shadow: 0 0 7px rgba(0, 0, 1, 0.13);
  border-radius: 7px;
  padding: 58px 32px;
  border-bottom: 4px solid var(--color3);
  margin-bottom: 24px;
}

#servicos .card img {
  margin-right: 0;
  width: 100px;
  margin: 0 auto;
}

#servicos h2 {
  margin: 24px;
}

/* Depoimentos */

#depo h1 {
  margin-top: 80px;
  margin-left: 24px;
  margin-right: 24px;
}

#depo .slider {
  overflow-x: scroll;
  margin-left: 24px;
  margin-right: 24px;
  scroll-snap-type: x mandatory;
}

#depo .slider::-webkit-scrollbar {
  display: none;
}

#depo .slides {
  display: flex;
  width: 300%;
  padding-top: 15px;
  padding-bottom: 15px;
  justify-content: space-between;
}

#depo .slide {
  padding: 32px;
  box-shadow: 0 0 7px rgba(0, 0, 1, 0.13);
  margin-right: 15px;
  margin-left: 15px;
  scroll-snap-align: center;
  transition: all 1s;
  flex: 1;
}

#depo .slide:nth-child(4),
#depo .slide:nth-child(5),
#depo .slide:nth-child(6) {
  display: none;
}

#depo cite {
  display: flex;
  align-items: center;
  margin-top: 24px;
  font-style: normal;
  color: var(--color3);
}

#depo .aspas {
  width: 26px;
  display: inline-block;
  margin-right: 4px;
}

#depo .depo-foto {
  border-radius: 50%;
  width: 32px;
  margin-right: 8px;
}

#depo .box-controlers {
  text-align: center;
  margin: 32px 24px 80px;
  display: flex;
  justify-content: center;
}

.radio-slide {
  width: 10px;
  height: 10px;
  background-color: var(--color5);
  border-radius: 50%;
  margin: 4px;
}

.radio-checked {
  background-color: var(--color3);
}

/* Contato */

#contato {
  text-align: left;
  display: flex;
  flex-direction: column;
}

#contato h1 {
  margin-bottom: 0;
}

#contato p {
  margin-bottom: 8px;
}

#contato .contato-info {
  margin: 32px 24px 40px 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#contato .contato-info a {
  margin-left: 0;
  text-align: center;
}

#contato .contato-date {
  margin: 0px 24px 80px 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  justify-content: center;
}

#contato .contato-date i {
  margin-right: 10px;
  font-size: 20px;
}

#contato .contato-date a {
  color: var(--color3);
  margin-bottom: 32px;
}

#contato .contato-date a:last-child {
  color: var(--color3);
  margin-bottom: 0;
}

/* Footer */

footer {
  background-color: var(--color3);
  padding: 48px 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .rights a {
  display: inline-block;
}

footer > a {
  margin-bottom: 24px;
  text-align: center;
  display: inline-block;
}

footer p {
  color: var(--color6);
  margin: 6px auto;
}

footer .social {
  width: 24px;
  display: flex;
  justify-content: center;
  margin: 32px auto;
  color: white;
}

footer .social i {
  font-size: 32px;
  margin: 0 16px;
  color: white;
}

/* -------------------------------------------------------- */

/* -----Tablets----- */

@media only screen and (min-width: 768px) {
  /* Configurações Gerais */

  /* Header */

  header {
    padding: 24px 48px;
  }

  /* Home */

  #home {
    flex-direction: row-reverse;
    align-items: center;
  }

  #home .home-box-image {
    margin-right: 48px;
    margin-bottom: 48px;
    flex: 1;
  }

  #home .image-shadow {
    border-radius: 7px 7px 7px 7px;
  }

  #home img {
    border-radius: 7px 7px 7px 7px;
  }

  #home .home-info {
    flex: 1;
    margin-left: 48px;
    margin-right: 48px;
  }

  /* Sobre */

  #sobre {
    flex-direction: row;
    align-items: center;
  }

  #sobre h1 {
    margin-top: 0;
  }

  #sobre .sobre-box-image {
    flex: 1;
    margin-left: 48px;
    margin-right: 0;
    align-self: center;
  }

  #sobre img {
    border-radius: 7px;
  }

  #sobre .image-shadow {
    border-radius: 7px;
  }

  #sobre .sobre-info {
    flex: 1;
    margin-left: 48px;
    margin-right: 48px;
  }

  /* Serviços */

  #servicos {
    margin-left: 48px;
    margin-right: 48px;
    text-align: center;
  }

  #servicos .servicos-info {
    margin: 0 auto;
  }

  #servicos .servicos-info p {
    max-width: 80%;
    margin: 0 auto;
  }

  #servicos .cards {
    flex-direction: row;
    flex-wrap: wrap;
  }

  #servicos .card {
    margin-left: 24px;
    margin-right: 24px;
    flex: 1 0 250px;
  }

  #servicos .servicos-info {
    margin: 0 auto;
  }

  /* Depoimentos */

  #depo h1 {
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 64px;
    max-width: 33.33%;
    text-align: center;
  }

  #depo .slider {
    margin-left: 123px;
    margin-right: 123px;
  }

  #depo .slide {
    scroll-snap-align: start;
    scroll-margin-left: 15px;
  }

  #depo .slide:nth-child(3) {
    margin-right: 15px;
  }

  #depo .slide:nth-child(4),
  #depo .slide:nth-child(5),
  #depo .slide:nth-child(6) {
    display: block;
  }

  /* Contato */

  #contato {
    flex-direction: row;
  }

  #contato .contato-info {
    flex: 1;
  }
  #contato .contato-date {
    flex: 1;
  }

  /* Footer */

  footer {
    flex-direction: row;
    justify-content: space-between;
  }
  footer .rights,
  footer .social {
    flex: 1;
  }
}

/* ----------------------------------------- */

/* -----Desktop----- */

@media only screen and (min-width: 992px) {
  /* Header */

  header nav {
    position: static;
    width: auto;
    height: auto;
  }

  header nav img {
    display: none;
  }

  header ul {
    flex-direction: row;
    align-items: center;
  }

  header li {
    margin-left: 20px;
    margin-bottom: 0;
    font-size: 24px;
  }

  .btn-menu {
    display: none;
  }

  /* Home */

  #home .home-box-image {
    margin-bottom: 80px;
  }
}
